body {
  background-color: black;
  border: yellow 3px solid;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;
  transition: 1s;
  height: 500px;
  width: 1000px;
  padding: 1px;
}

.game {
  border: yellow 1px solid;
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.vida{
  z-index: 1;
  font-family: "Arial";
  position: absolute;
  overflow: visible;
  margin-top: 25px;
  margin-left: 210px;
  font-size: 20px;
}

/*LOADER CARGA*/
/*
.loader {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 10px solid rgb(37, 37, 0);
  border-top: 10px solid yellow;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/*BOTONES*/

.vida{
  color: yellow;
}

#grid, #g_dos, #g_tres {
  background-color: transparent;
  border: 1px solid yellow;
  color: yellow;
  transition: 1s;
  outline: none;
  border-radius: 5px;
}

#grid:hover, #g_tres:hover {
  background-color: yellow;
  border: 1px solid yellow;
  color: black;
  box-shadow: 0px 0px 25px yellow;
  transition: 1s;
}

#grid:active {
  background-color: yellow;
  border: 1px solid yellow;
  color: red;
  box-shadow: 0px 0px 25px yellow;
  transition: 0.5s;
}

.wrapper {
  position: absolute;
  height: 170px;
  width: 190px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(auto);
  color: yellow;
  margin-top: 20px;
  padding: 5px;
}

.left {
  grid-column: 1;
  grid-row: 2;
}
.up {
  grid-column: 2;
  grid-row: 1;
}
.down {
  grid-column: 2;
  grid-row: 3;
}
.right {
  grid-column: 3;
  grid-row: 2;
}

.wrapper_dos {
  position: absolute;
  height: 110px;
  width: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(auto);
  color: yellow;
  margin-top: 363px;
  padding-left: 10px;
}

.vidas {
  grid-column: 1 / 3;
  grid-row: 1;
}
.puntos {
  grid-column: 1 / 3;
  grid-row: 2;
}

.wrapper_tres {
  position: absolute;
  height: 200px;
  width: 185px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(auto);
  color: yellow;
  margin-left: 803px;
  margin-top: 15px;
  padding: 5px;
}

.cerrar {
  margin-left: 50px;
  height: 20px;
  width: 40px;
  grid-column: 3;
  grid-row: 1;
}
.reiniciar {
  grid-column: 1 / 4;
  grid-row: 2;
}
.pausa {
  grid-column: 1 / 4;
  grid-row: 3;
}

/*FIN BOTONES*/

body:hover {
  box-shadow: 0px 0px 25px yellow;
  transition: 1s;
}

.background    { background: black;
                 table-layout: fixed;
                 border-spacing: 0;   }

.background td { padding: 0;          }
.lava          { background: radial-gradient(circle, rgba(251,129,63,1) 0%, rgba(255,0,52,1) 100%); box-shadow: 0px 0px 25px red;}
.wall          { background: yellow;   }

.actor  { position: absolute;  }
.coin   { background: rgb(230, 126, 34); box-shadow: 0px 0px 25px  rgb(230, 126, 34); border-radius: 7px; }
.player { background: white }

.lost .player {
  position: absolute;
  background: red;
  box-shadow: 0px 0px 25px red;
}
.won .player {
  box-shadow: 0px 0px 25px yellow;
}
